* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/* --------------------------------------------header--------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 67px;
  background-color: #000000db;
}

header .logo h2 {
  font-size: 2.5em;
  cursor: pointer;
}

header h2 a {
  text-decoration: none;
  color: #fff;
}

header .header-icon1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

header .header-icon1 a {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.3s;
}

header .contact1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

header .contact1 a {
  text-decoration: none;
  color: #fff;
}

/* ------------------------------------------slider-------------------------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 50%;
  min-height: 50vh;
}

/* -----------------------------------------------contact-------------------------- */

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  color: white;
  text-align: center;
  padding: 30px;
  background-color: #000;
}

#contact .contact-details h4 {
  font-size: 5em;
}

#contact .contact-details p {
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
}

#contact .contact-details form {
  position: relative;
  min-height: 20vh;
}

#contact .contact-details form input {
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s ease-in;
}

#contact .contact-details form input:hover {
  background-color: #cdcdcd;
}

#contact .contact-details form button {
  position: absolute;
  top: 60%;
  left: 40%;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#contact .contact-details form button:hover {
  background-color: #cdcdcd;
  box-shadow: 2px 2px 2px rgba(113, 113, 113, 0.3);
}

/* -------------------------------work section------------------------------- */

#work {
  margin: 20px;
}

#work h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  text-align: center;
  margin: 40px;
}

#work .workproduct {
  padding: auto 10%;
}

#work .workproduct img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#work .workproduct img:hover {
  transform: scale(1.1);
}

#work .workproduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/* -------------------------------------------footer------------------------- */

footer {
  padding: 50px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

footer .logo {
  font-size: 3em;
  line-height: 79px;
}

footer .logo a {
  text-decoration: none;
  color: yellow;
}

footer h3 {
  font-size: 4em;
  color: yellow;
}

footer .social-icon {
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

footer .social-icon:hover {
  color: #cdcdcd;
}

footer .social-icon-details1 h4 {
  font-size: 4em;
  color: yellow;
}

footer .social-icon-details1 .email input {
  padding: 10px;
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

footer .social-icon-details1 .email input:hover {
  background-color: #cdcdcd;
}

footer .social-icon-details1 .email button {
  border: none;
  outline: none;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  cursor: pointer;
}

footer .social-icon-details1 .email button:hover {
  background-color: #cdcdcd;
}

footer .copyright {
  position: absolute;
  top: 90%;
  left: 45%;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.603);
}

/* --------------------------------------cateory-page----------------------------- */

#img-category {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 40px;
}

#img-category .category {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 70px;
}

#img-category .category .category1 {
  width: 10%;
}

#img-category .category .category1 h4 {
  font-size: 3em;
  line-height: 45px;
}

#img-category .category .category2 {
  width: 20%;
  font-weight: 500;
}

#img-category .category .category3 {
  width: 20%;
  font-weight: 500;
}

#img-category .category .category4 {
  width: 20%;
  font-weight: 500;
}

#img-category .categoryNext {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5em;
}

#img-category .categoryNext i {
  cursor: pointer;
}

/* --------------------------------------img-details----------------------------- */

#category-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
}

/* ---------------------------------------------Aboutus--------------------------------- */

#aboutInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px;
}

#aboutInfo .email h4 {
  font-size: 2em;
}

#aboutInfo .socialInfo {
  display: flex;
  align-items: start;
  flex-direction: column;
}

#aboutInfo .socialInfo a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

#aboutInfo .detailsInfo p {
  font-weight: 600;
  color: #00000082;
}

/* --------------------------------------------------------Overview---------------------------------- */

#overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

#overview .OverviewDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

#overview .OverviewDesc h2 {
  font-size: 8em;
}

#overview .OverviewDesc p {
  font-weight: 500;
  width: 50%;
  text-align: center;
  margin-top: -35px;
  font-size: 0.8em;
}

#overview .overviewProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

#overview .overviewProduct h3 {
  font-size: 2em;
}

#overview .overviewProduct p {
  font-size: 0.9em;
  color: #00000082;
  font-weight: 600;
  line-height: 18px;
}
